@page "{id:int?}"
@model Magazin_Alimentar.Pages.Producatori.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producator[0].ProducatorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProducatorData.Producatori)
        {
            string selectedRow = " ";
            if (item.ID == Model.ProducatorID)
            {
                selectedRow = "table-success ";
            }
            <tr class=" @selectedRow ">
            <td>
                @Html.DisplayFor(modelItem => item.ProducatorName)
            </td>
            <td>
                <a asp-page ="./Index" asp-route-id =" @item.ID "> Select</a > |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.ProducatorData.Produse != null)
{
    <h3>Produse Fabricate de Producator Selectat</h3>
    <table class ="table">

        @foreach (var item in Model.ProducatorData.Producatori)
        {
            string selectedRow = " ";
            if (item.ID == Model.ProducatorID)
            {
                selectedRow = "table-success ";
            }
            <tr class =" @selectedRow " >

                <td>
                    @{
                        foreach (var b in item.Produse)
                        {
                            @b.Nume
                            <br/>
                        }
                    }
                </td>
            </tr>
        }
    </table >
}